<template name="Search">
  {{> esInput index="slides" placeholder="Search by slide title" }}

  {{#ifEsIsSearching index="slides"}}
    <div>Loading...</div>
  {{else}}
    <table class="table table-striped">
      {{> SlideHeaderRow}}
      <tbody>
        {{#esEach index="slides"}}
        {{> SlideRow}}
        {{/esEach}}
      </tbody>
    </table>
    {{> esLoadMoreButton index="slides"}}
  {{/ifEsIsSearching}}

  {{#ifEsInputIsEmpty index="slides"}}
  <div>Enter a search term above to find slides</div>
  {{/ifEsInputIsEmpty}}

  {{#ifEsHasNoResults index="slides"}}
  <div class="no-results">No results found</div>
  {{/ifEsHasNoResults}}


</template>
